html,
body,
heard,
div,
p,
h2,
h1,
figure,
img,
ul,
li {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
ul,
li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-top: 80px;
}

#inputSearch:focus {
  outline: none;
}
